<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title th:text="${msg}">Document</title>
</head>
<body>
    <div class="container">
        <h2>Form edit List</h2>
        <div class="row">
            <div class="col">
                <form method="post" class="mx-auto" style="width: 50%;" th:action="@{/update}" th:object="${listreport}">
                    <!-- <div class="form-group">
                        <label >Code</label>
                        <input type="text" class="form-control" th:field="*{id}">
                    </div> -->
                    <div class="form-group">
                        <label >Title</label>
                        <input type="text" class="form-control" th:field="*{title}">
                    </div>
                    <div class="form-group">
                        <label >Description</label>
                        <input type="text" class="form-control" th:field="*{description}">
                    </div>
                    <div class="form-group">
                        <label >Photo</label>
                        <input type="text" class="form-control" th:field="*{photo}">
                    </div>
                    <br/>
                    <!-- <input type="hidden" th:field="*{id}"> -->
                    <p><button class="btn btn-primary" type="submit">Save</button></p>
                </form>
            </div>
            <div class="col"><h1>text</h1></div>
        </div>
       
    </div>


    <script src="/webjars/bootstrap/css/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>