<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title th:text="${msg}">Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" th:action="@{/search}" th:object="${searchForm}" method="post">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" th:field="*{keyword}">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

     <!-- TABLE -->
    <div class="container">
      <form th:action="@{/logout}" method="post">
        <button type="submit">Sign Out</button>        
      </form>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="listReport : ${listReports}">
                    <td th:text="${listReport.id}"></td>
                    <td th:text="${listReport.title}"></td>
                    <td th:text="${listReport.description}" class="w-50  align-items-center"></td>
                    <td th:text="${listReport.photo}"></td>
                    <td>
                        <a href="" class="btn btn-success"  th:href="@{'/edit/'+${listReport.id}}">Edit</a>
                        <a href="" class="btn btn-danger" th:href="@{'/delete/'+${listReport.id}}">Del</a>
                    </td>
                    <!-- <td th:text="${listReport.size(u.engines)}">[Engine Size]</td> -->
                    <!-- <a href="<c:url value='/logout' />">Click here to logout</a>   -->
                </tr>
            </tbody>
        </table>

    </div>


    <script src="/webjars/bootstrap/css/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>